<% layout("/layouts/showboilerplate.ejs") -%>
<body>
   <br><br><br><br>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h2><%= dis.name %></h2>
        </div>    
        <div class="card col-6 offset-3 show-card">
           <img src="<%= dis.image %>" class="card-img-top show-img" alt="listing_image">
           <div class="card-body">
             <p class="card-text">
              <b><%= dis.description %></b> <br><br>
              Symptoms:
              <% for(let i=0;i<dis.symptoms.length;i++) {%>
                 <ul>
                    <li><%= dis.symptoms[i] %> </li>
                 </ul>
              <% } %>   
              Causes:
              <% for(let i=0;i<dis.causes.length;i++) {%>
                 <ul>
                    <li><%= dis.causes[i] %>  </li>
                 </ul>
              <% } %> 
              Treatment:
              <% for(let i=0;i<dis.treatment.length;i++) {%>
                 <ul>
                    <li><%= dis.treatment[i] %> </li>
                 </ul>
              <% } %>   
              Precaution:
              <% for(let i=0;i<dis.precautions.length;i++) {%>
                 <ul>
                    <li><%= dis.precautions[i] %>  </li>
                 </ul>
              <% } %>   
             <br>
             Source: <a href="<%= dis.source %>"><%= dis.source %></a>

           </p>
           </div>
         
        </div>
    </div> 
</body>